<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saas.api.common.dao.common.AutoBrandDao" >
  <resultMap id="BaseResultMap" type="com.saas.api.common.entity.common.AutoBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="brand_logo" property="brandLogo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="lan_type" property="lanType" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="SelectResultMap" type="com.saas.api.admin.res.select.common.AutoBrandSelect" >
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Select_Column_List" >
    brand_id, brand_name 
  </sql>
  <sql id="Base_Column_List" >
    first_name, brand_id, brand_name, brand_logo, create_time, update_time
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from saas_common_auto_brand
    where brand_id = #{brandId,jdbcType=INTEGER} 
  </select>
  <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from saas_common_auto_brand
    where brand_name = #{brandName,jdbcType=VARCHAR} 
  </select>
  <insert id="insertData" useGeneratedKeys="true" keyProperty="id" parameterType="com.saas.api.common.entity.common.AutoBrand" >
    insert into saas_common_auto_brand (first_name, brand_id, brand_name, brand_logo, create_time, lan_type)
    values (#{firstName,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, 
    #{brandLogo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
    #{lanType,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.saas.api.common.entity.common.AutoBrand" >
    insert into saas_common_auto_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="firstName != null and '' != firstName" >
        first_name,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null and '' != brandName" >
        brand_name,
      </if>
      <if test="brandLogo != null and '' != brandLogo" >
        brand_logo,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lanType != null and '' != lanType" >
        lan_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="firstName != null and '' != firstName" >
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandName != null and '' != brandName" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandLogo != null and '' != brandLogo" >
        #{brandLogo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lanType != null and '' != lanType" >
        #{lanType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateData" parameterType="com.saas.api.common.entity.common.AutoBrand" >
    update saas_common_auto_brand
    <set >
      <if test="brandLogo != null and '' != brandLogo" >
        brand_logo = #{brandLogo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=INTEGER} 
  </update>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from saas_common_auto_brand
    where brand_id = #{brandId,jdbcType=INTEGER} 
  </delete>
  <select id="listData" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from saas_common_auto_brand
    <where> 1 = 1
      <if test="brandId != null" >
        and brand_id = #{brandId,jdbcType=INTEGER} 
      </if>
      <if test="lanType != null and '' != lanType" >
        and lan_type = #{lanType,jdbcType=VARCHAR} 
      </if>
    </where>
    ORDER BY id asc
    <if test="pageSize > 0">
      limit #{startIndex},#{pageSize};
    </if>
  </select>
  <select id="countData" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
    count(1)
    from saas_common_auto_brand
    <where> 1 = 1
      <if test="brandId != null" >
        and brand_id = #{brandId,jdbcType=INTEGER} 
      </if>
      <if test="lanType != null and '' != lanType" >
        and lan_type = #{lanType,jdbcType=VARCHAR} 
      </if>
    </where>
  </select>
  <select id="findByObject" resultMap="BaseResultMap" parameterType="com.saas.api.common.entity.common.AutoBrand" >
    select 
    <include refid="Base_Column_List" />
    from saas_common_auto_brand
    <where> 1 = 1
      <if test="brandId != null" >
        and brand_id = #{brandId,jdbcType=INTEGER} 
      </if>
      <if test="lanType != null and '' != lanType" >
        and lan_type = #{lanType,jdbcType=VARCHAR} 
      </if>
    </where>
  </select>
  <select id="findSelectObject" resultMap="SelectResultMap" parameterType="com.saas.api.common.entity.common.AutoBrand" >
    select 
    <include refid="Select_Column_List" />
    from saas_common_auto_brand
    <where> 1 = 1
      <if test="brandId != null" >
        and brand_id = #{brandId,jdbcType=INTEGER} 
      </if>
      <if test="lanType != null and '' != lanType" >
        and lan_type = #{lanType,jdbcType=VARCHAR} 
      </if>
    </where>
  </select>
</mapper>