<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saas.api.common.dao.crm.CardProjectDao" >
  <resultMap id="BaseResultMap" type="com.saas.api.common.entity.crm.CardProject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="card_id" property="cardId" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="project_code" property="projectCode" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="settle_mode" property="settleMode" jdbcType="INTEGER" />
    <result column="settle_name" property="settleName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, card_id, project_id, project_code, project_name, 
    unit_id, unit_name, settle_mode, settle_name,
    price, quantity, discount, amount, 
    remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from saas_crm_card_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from saas_crm_card_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByByCardId" parameterType="java.lang.Long" >
    delete from saas_crm_card_project
    where card_id = #{cardId,jdbcType=BIGINT} 
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.saas.api.common.entity.crm.CardProject" >
    insert into saas_crm_card_project (card_id, project_id, project_code, project_name, 
    unit_id, unit_name, settle_mode, settle_name,
    price, quantity, discount, amount, 
    remark, create_time)
    values (#{cardId,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{unitId,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR}, #{settleMode,jdbcType=INTEGER}, #{settleName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER}, #{discount,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.saas.api.common.entity.crm.CardProject" >
    insert into saas_crm_card_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="projectCode != null" >
        project_code,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="unitName != null and '' != unitName" >
        unit_name,
      </if>
      <if test="settleMode != null" >
        settle_mode,
      </if>
      <if test="settleName != null and '' != settleName" >
        settle_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardId != null" >
        #{cardId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectCode != null" >
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null and '' != unitName" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="settleMode != null" >
        #{settleMode,jdbcType=INTEGER},
      </if>
      <if test="settleName != null and '' != settleName" >
        #{settleName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.saas.api.common.entity.crm.CardProject" >
    update saas_crm_card_project
    <set >
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectCode != null" >
        project_code = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null and '' != unitName" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="settleMode != null" >
        settle_mode = #{settleMode,jdbcType=INTEGER},
      </if>
      <if test="settleName != null and '' != settleName" >
        settle_name = #{settleName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saas.api.common.entity.crm.CardProject" >
    update saas_crm_card_project
    set card_id = #{cardId,jdbcType=BIGINT},
      project_id = #{projectId,jdbcType=BIGINT},
      project_code = #{projectCode,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=INTEGER},
      unit_name = #{unitName,jdbcType=VARCHAR},
      settle_mode = #{settleMode,jdbcType=INTEGER},
      settle_name = #{settleName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=INTEGER},
      discount = #{discount,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="countByCardId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    count(1)
    from saas_crm_card_project
    where card_id = #{cardId,jdbcType=BIGINT} 
  </select>
  <select id="selectByCardId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from saas_crm_card_project
    where card_id = #{cardId,jdbcType=BIGINT} 
  </select>
  <select id="findByObject" parameterType="com.saas.api.common.entity.crm.CardProject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from saas_crm_card_project
    <where> 1=1 
      <if test="cardId != null">
        and card_id = #{cardId,jdbcType=BIGINT} 
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="unitId != null">
        and unit_id = #{unitId,jdbcType=BIGINT}
      </if>
      <if test="settleMode != null" >
        and settle_mode = #{settleMode,jdbcType=INTEGER} 
      </if>
    </where>
  </select>
</mapper>